<article class="post">
        
 <div class="card-content">
    <h1>{{title}}</h1> 
    <p>{{post_content}}</p>
        <p>
          By  {{user.username}} on {{format_date created_at}}
            | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        </p>
    </div>
</article>